<div class="mainContent">
    <div id="Profile"></div>
    <h1 id="username">Arthur Van Loo</h1>
    <h2 id="userInfo">Double-degree student at Guanghua School of Management (PKU) and Rotterdam School of Management (EUR)</h2>
    <div class="icons">
        <div class="iconGroup">
            <a href="tel:+32 488 21 09 75" class="contactInfo" target="_blank">
                <img src="../../../assets/icon-phone.png" class="contactIcon" />
                +32 488 21 09 75
            </a>
            <a href="mailto:arthur@vanloo.biz" class="contactInfo" target="_blank">
                <img src="../../../assets/icon-email.png" class="contactIcon" />
                arthur&#64;vanloo.biz
            </a>
            <a href="https://www.linkedin.com/in/arthur-van-loo/" class="contactInfo" target="_blank">
                <img src="../../../assets/logo-linkedin.png" class="contactIcon" />Arthur Van Loo
            </a>
            <a routerLink="/cv" class="contactInfo">
                <img src="../../../assets/icon-cv.png" class="contactIcon" />Resume
            </a>
            <a href="https://github.com/avanloo01" class="contactInfo" target="_blank">
                <img src="../../../assets/logo-github.png" class="contactIcon" />avanloo01
            </a>
        </div>
</div>
