
h1 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif
}
td {
    padding: 0 0.5em;
    line-height: 1.5;
}
a {
    text-decoration: none;
    color: #5882C5;
}
table td:first-child {
    vertical-align: baseline;
}