<div style="margin: 5vw;">
<b>Arthur Van Loo</b>
<table>
    <tr>
        <td><b>Mission</b></td>
        <td>Provide equal access to opportunity and judge on equal grounds</td>
    </tr>
    <tr>
        <td>
            <b>Strategy</b>
        </td>
        <td>To ensure, within 15 years of graduation, that all countries have a Human Development Index above 0.7 by enhancing
        intercultural communication, based on hard work and curiosity</td>
    </tr>
</table>
<h1>Work Experience & Projects</h1>
<table>
  <tr>
        <td><i>Jul. 2024 - Aug. 2024</i></td>
        <td>Impact Analysis internship at <b>King Baudouin Foundation</b> focused on impact assessment and operational efficiency
<ul>
    <li>
        Built a website allowing colleagues to analyze batches of investment reports (with ChatGPT, Salesforce, and Microsoft Graph)
    </li>
    <li>
        Optimized the fee structure of the different types of funds based on the average time required per type
    </li>
    <li>
        Built a website where users enter a topic, and the website returns all related initiatives of the foundation (with ChatGPT and Salesforce)
    </li>
    <li>
        Deployed two Azure Function Apps: automatically uploading individual funds to a larger database and recording when the foundation is referenced in parliament
    </li>
    <li>
        Improving the impact at TeleOnthaal: descriptive statistics and forecasting the number of calls per day
    </li>
</ul>
</td>
    </tr>
    <tr>
        <td><i>Aug. 2023</i></td>
        <td>Internship at <b>United Nations</b> University Institute on Comparative Regional Integration Studies; Wrote a twelve-page paper “City Trade Networks from the Hanseatic League to Chinese Overseas SEZs: Consolidating a Research Agenda”</td>
    </tr>
    <tr>
        <td><i>2021 - Present</i></td>
        <td>Seasonal bartender and waiter at Sint-Joris Brugge</td>
    </tr>
    <tr>
        <td><i>Summer 2022</i></td>
        <td>Founder of co-developer of <b>Forum Echo</b>, an EU citizen participation app for a Reddit community of 21,000 members; responsible for the design and Angular front-end</td>
    </tr>
</table>
<h1>Education</h1>
<table>
    <tr>
        <td><i>Sept. 2024 - Jul. 2026</i></td>
        <td>Future Leaders Double Bachelor at Peking University and Rotterdam School of Management (BA in Management)</td>
    </tr>
    <tr>
        <td><i>Sept. 2022 - Jun. 2025</i></td>
        <td>BSc International Business Administration at Rotterdam School of Management;<br>
        <b>Grand Challenges Honors Program</b> on the sustainable development of Rotterdam<br>
        Member of the Erasmus Debating Society during 1st year <br>
        <b>GPA 9.42</b>; 10.0 for Mathematics, Economics, Finance, Corporate Finance, Management Accounting, Statistics, Spreadsheet Modelling (covers all functions, except Power Pivot), Quantitative Decision Making, and
        Operations Management, and Research Project; <br>
        Top Performer in Accounting</td>
    </tr>
    <tr>
        <td><i>Jul. - Aug. 2022</i></td>
        <td>Pre Academic Programme at Erasmus University Rotterdam
        </td>
    </tr>
    <tr>
        <td><i>Sept. 2016 - Jun. 2022</i></td>
        <td>Science with eight hours of mathematics and a CLIL option at Sint-Franciscus-Xaveriusinstituut Brugge; graduated as a laureate with <b>96%</b></td>
    </tr>
    <tr>
        <td><i>Jan. 2017</i></td>
        <td>Diploma at Brigitte Balfoort's etiquette school</td>
    </tr>
</table>
<h1>Skills</h1>
<table>
    <tr>
        <td><i>Languages</i></td>
        <td>Fluent in Dutch (native language), English, and French; <br>Intermediate in German and Russian;<br>Beginner in Esperanto and Mandarin </td>
    </tr>
    <tr>
        <td><i>STEM</i></td>
        <td>Fluent in HTML, CSS, and JavaScript and Python (focus on automation);<br>
        Intermediate in C# <br>
        Fluent in LaTeX and Microsoft Office (Excel, Word, PowerPoint, SharePoint)<br>
        Fluent in <b>Thomson Reuters Eikon/Refinitiv</b> and <b>Wharton Research Data Services</b></td>
    </tr>
</table>
</div>
